   <HTML>
  <HEAD>
  <TITLE>General</TITLE>
  <style type = "text/css">

	#content{
		
		width: 80%;
		border: 1px solid;
		position: relative;
		left: 10%;
		right: 10%;
		background-color: white;
	 }
	
	html{	
		background-color:#197994;
	}
	
   	#plaintxt{
		right: 10%;		
	}

	
	button
		{ border-radius: 5px;
          	 	background-color: white; 
			padding-left: 30px;
			padding-right: 30px;  
          		width: 250px; 
			height: 90px;
			font-size: 30px;
			color: #197994;
			
               }


	
	table{
		border-collapse: collapse;
	}
	table th{
		background-color: #197994;
		color: #eaeaea;
	}
	table tr:nth-child(even){
		background-color: #d6d6d6;
		
	}
	
	.mini-menu, #sub-menu{
		padding-left: 36%;
	}
	
	
  </style>
 </HEAD>
  <BODY>

<br><br>

		<div id = "content">
		<center><h3 style="padding-top:5%;">GENERAL PERFORMANCE REPORT FOR KAMUZU CENTRAL HOSPITAL<h3></center>
					
					<div id="sub-menu">
					<h4>START DATE&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<%=@start_date%>
					<br><br>END DATE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
					 <%= @end_date%><h4>
					</div>
				      <br><br><br>

		<div id="plaintxt"> 
	      
      <div class="mini-menu">	
	    <h4>TOTAL VOTES &nbsp;&nbsp;&nbsp;   :&nbsp;&nbsp;&nbsp; <%= @prints.ceil %></h4>		 
	   <h4 style="color:#008000;">SATISFIED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
	   <%= @prints1 %> (<%= @percentage1.ceil %>%)</h4> 
	   <h4 style="color:#8B0000;">UNSATISFIED   &nbsp;&nbsp;&nbsp; :  &nbsp;&nbsp;&nbsp;<%= @prints2 %>   (<%= @percentage2.ceil %>%)</h4>

	<br><br>
	</div>
		<center>

			<table border = "2" width = "500">
				<tr>
					<th>SATISFACTION LEVEL</th>
					<th>NUMBER OF VOTES</th>
				</tr>
	
				<% @result2.each do |total| %>
				<tr>	
				<td><%= total.name%></td>
				<td><%= total.total_votes%></td>
				<% end %>
				</tr>
	
			</table><br><br><br>

			<table border = "2" width ="500">
				<tr>
					<th>CONCERN</th>
					<th>NUMBER OF VOTES</th>
				</tr>
	
				<% @concern2.each do |concern| %>
				<tr>	
				<td><%= concern.name%></td>
				<td><%= concern.total%></td>
				<% end %>
				</tr>		

			</table><br><br>

		</center> 

   </div>

		<br><br><br>
   </div>
    
 
  </BODY>

<center><br><br><br>
		<div >
		 <input style=" border-radius: 5px;
		  	 	background-color: white; 
				padding-left: 30px;
				padding-right: 30px;  
		  		width: 250px; 
				height: 90px;
				font-size: 30px;
				color: #197994;"
		type="button" value="Generate PDF" onClick="window.print()"/>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button"> Send Email</button>
		
		</div>
</center>
		<br><br><br><br><br><br>


  </HTML>


