   <HTML>
  <HEAD>
  <TITLE>General</TITLE>
  </HEAD>
  <BODY>
<center>
<br><br>
This is a report from //date// to //date//
 <br><br><br><br>	
<%= " REPORT" %> <br> 


<table border = "2" width = "800">
 
   <tr width = "800%">
	
     <th>TOTAL VOTES (All Departments)</th>
     <% @votes1.each do |all| %>     
     <th><%= all.total %></th>
         <% end%>
   </tr>
    
</table>

<br>

<table border = "2" width = "800">
	<tr>
		<th>SATISFACTION LEVEL</th>
		<th>NUMBER OF VOTES</th>
	</tr>
	
	<% @result2.each do |total| %>
	<tr>	
	<td><%= total.name%></td>
	<td><%= total.total_votes%></td>
	<% end %>
	</tr>
	
</table><br><br><br>

<table border = "2" width ="800">
	<tr>
		<th>CONCERN</th>
		<th>NUMBER OF VOTES</th>
	</tr>
	
	<% @concern2.each do |concern| %>
	<tr>	
	<td><%= concern.name%></td>
	<td><%= concern.total%></td>
	<% end %>
	</tr>		

</table><br><br>
		

	 <input type="submit" value="Generate PDF"/>

</center>
  </BODY>
  </HTML>


