 <html>
 	 


	<h3>Choose what kind of report you want</h3>
<<<<<<< HEAD

	 <%= link_to("Todays report", {:action =>'#'}, :class => 'action 4')%><br>
	 <%= link_to("Weekly report", {:action =>'#'}, :class => 'action 5')%><br>
	 <%= link_to("Monthly report", {:action =>'#'}, :class => 'action 6')%> <br><br><br><br>

	
	
	 <%= link_to("Specify time period", {:action =>'specify_dates'}, :class => 'action 4')%><br>
=======
	<!--
	 <%= link_to("Todays report", {:action =>'#'}, :class => 'action 4')%><br>
	 <%= link_to("Weekly report", {:action =>'#'}, :class => 'action 5')%><br>
	 <%= link_to("Monthly report", {:action =>'#'}, :class => 'action 6')%> <br><br><br><br> -->

	
	
	 <%= link_to("Specify time period", {:action =>'specify_dates'}, :class => 'action 4')%>
	

>>>>>>> fac7cd1293a52b0d2f824f91cf69381d30815078

</html>
